.section {
  font-weight: bold
; padding-top: 1em
}

label {
  font-family: monospace
}

input:disabled {
  color: black
}

input {
  text-align: right
}

td {
  width: 33%
}

body {
  font-family: sans-serif
}
