.section {
  font-weight: bold
; padding-top: 1em
}

.emphasize {
  font-weight: bold
}

label {
  font-family: monospace
}

input:disabled {
  color: black
}

input[type=number] {
  width: 8em
}

input {
  text-align: right
}

.minada td {
  text-align   : right
; padding-left : 3px
; padding-right: 3px
}

form td:nth-child(2) {
  display: none
}

form td:last-child {
  white-space: break-spaces
; font-family: serif
}

form tr {
 white-space: nowrap
}

@media screen and (max-width: 650px) {
  tbody {
    min-width: 100%
  ; font-size: smaller
  }
}

body {
  font-family: sans-serif
}
